@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-axio-dark text-white antialiased;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(90deg, #F9A8D4 0%, #F43F5E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 0.1em;
    display: inline-block;
  }
}

